Football/Resources/connections.xsd

<?xml version="1.0" encoding="utf-16"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Database">
	<xs:complexType>
	  <xs:sequence>
		<xs:element name="Connections">
		  <xs:complexType>
			<xs:sequence>
			  <xs:element name="Connection" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
				  <xs:sequence>
					<xs:element name="IP-Address" type="xs:string" />
					<xs:element name="Port" type="xs:unsignedInt" />
					<xs:element name="Username" type="xs:string" />
					<xs:element name="LastLogin" type="xs:string" />
				  </xs:sequence>
				</xs:complexType>
			  </xs:element>
			</xs:sequence>
		  </xs:complexType>
		</xs:element>
	  </xs:sequence>
	</xs:complexType>
  </xs:element>
</xs:schema>